* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "PingFangSC-Regular", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "STHeitiSC-Light", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  outline: 0;
}

body, html {
  width: 100%;
  background: rgb(183, 136, 69);
}

html[lang=ar] {
  direction: rtl;
}

:global #app {
  width: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}