<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
    <meta name="x5-orientation" content="portrait">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="https://oss.mashichat.com/front/favicon.ico" type="image/x-icon">
    <title></title>
  </head>

  <body>
    <div id="app"></div>

    <%= htmlWebpackPlugin.options.params.user %>
    <%= htmlWebpackPlugin.options.params.dll %>
  </body>

  </html>